<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SSO_RAHUL</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Authentication</display-name>
    <servlet-name>Authentication</servlet-name>
    <servlet-class>Servlets.Authentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authentication</servlet-name>
    <url-pattern>/Authentication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>Servlets.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>Servlets.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Resources</display-name>
    <servlet-name>Resources</servlet-name>
    <servlet-class>Servlets.Resources</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resources</servlet-name>
    <url-pattern>/Resources</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Groups</display-name>
    <servlet-name>Groups</servlet-name>
    <servlet-class>Servlets.Groups</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Groups</servlet-name>
    <url-pattern>/Groups</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeGroup</display-name>
    <servlet-name>removeGroup</servlet-name>
    <servlet-class>Servlets.removeGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeGroup</servlet-name>
    <url-pattern>/removeGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>setPermission</display-name>
    <servlet-name>setPermission</servlet-name>
    <servlet-class>Servlets.setPermission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setPermission</servlet-name>
    <url-pattern>/setPermission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteResource</display-name>
    <servlet-name>deleteResource</servlet-name>
    <servlet-class>Servlets.deleteResource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteResource</servlet-name>
    <url-pattern>/deleteResource</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeUserFromGroup</display-name>
    <servlet-name>removeUserFromGroup</servlet-name>
    <servlet-class>Servlets.removeUserFromGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeUserFromGroup</servlet-name>
    <url-pattern>/removeUserFromGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteAllResources</display-name>
    <servlet-name>deleteAllResources</servlet-name>
    <servlet-class>Servlets.deleteAllResources</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteAllResources</servlet-name>
    <url-pattern>/deleteAllResources</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createNewGroup</display-name>
    <servlet-name>createNewGroup</servlet-name>
    <servlet-class>Servlets.createNewGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createNewGroup</servlet-name>
    <url-pattern>/createNewGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createNewResource</display-name>
    <servlet-name>createNewResource</servlet-name>
    <servlet-class>Servlets.createNewResource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createNewResource</servlet-name>
    <url-pattern>/createNewResource</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addUserToGroup</display-name>
    <servlet-name>addUserToGroup</servlet-name>
    <servlet-class>Servlets.addUserToGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addUserToGroup</servlet-name>
    <url-pattern>/addUserToGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addResourceToUser</display-name>
    <servlet-name>addResourceToUser</servlet-name>
    <servlet-class>Servlets.addResourceToUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addResourceToUser</servlet-name>
    <url-pattern>/addResourceToUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addNewUserToGroup</display-name>
    <servlet-name>addNewUserToGroup</servlet-name>
    <servlet-class>Servlets.addNewUserToGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addNewUserToGroup</servlet-name>
    <url-pattern>/addNewUserToGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addNewResourceToGroup</display-name>
    <servlet-name>addNewResourceToGroup</servlet-name>
    <servlet-class>Servlets.addNewResourceToGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addNewResourceToGroup</servlet-name>
    <url-pattern>/addNewResourceToGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeAUserFromGroup</display-name>
    <servlet-name>removeAUserFromGroup</servlet-name>
    <servlet-class>Servlets.removeAUserFromGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeAUserFromGroup</servlet-name>
    <url-pattern>/removeAUserFromGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteResourceFromGroup</display-name>
    <servlet-name>deleteResourceFromGroup</servlet-name>
    <servlet-class>Servlets.deleteResourceFromGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteResourceFromGroup</servlet-name>
    <url-pattern>/deleteResourceFromGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>resourceInfo</display-name>
    <servlet-name>resourceInfo</servlet-name>
    <servlet-class>Servlets.resourceInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resourceInfo</servlet-name>
    <url-pattern>/resourceInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeResourceForUserFromGroup</display-name>
    <servlet-name>removeResourceForUserFromGroup</servlet-name>
    <servlet-class>Servlets.removeResourceForUserFromGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeResourceForUserFromGroup</servlet-name>
    <url-pattern>/removeResourceForUserFromGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeResourceFromGroup</display-name>
    <servlet-name>removeResourceFromGroup</servlet-name>
    <servlet-class>Servlets.removeResourceFromGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeResourceFromGroup</servlet-name>
    <url-pattern>/removeResourceFromGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userremoveUserFromGroup</display-name>
    <servlet-name>userremoveUserFromGroup</servlet-name>
    <servlet-class>Servlets.userremoveUserFromGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userremoveUserFromGroup</servlet-name>
    <url-pattern>/userremoveUserFromGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeResourceForUser</display-name>
    <servlet-name>removeResourceForUser</servlet-name>
    <servlet-class>Servlets.removeResourceForUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeResourceForUser</servlet-name>
    <url-pattern>/removeResourceForUser</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>sessionFilter</display-name>
    <filter-name>sessionFilter</filter-name>
    <filter-class>filters.sessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sessionFilter</filter-name>
    <url-pattern>/users.jsp</url-pattern>
    <url-pattern>/createNewGroup.jsp</url-pattern>
    <url-pattern>/createNewResource.jsp</url-pattern>
    <url-pattern>/group.jsp</url-pattern>
    <url-pattern>/groupDetails.jsp</url-pattern>
    <url-pattern>/groupInfo.jsp</url-pattern>
    <url-pattern>/listofgroups.jsp</url-pattern>
    <url-pattern>/listofresources.jsp</url-pattern>
    <url-pattern>/resourceDetails.jsp</url-pattern>
    <url-pattern>/resourceInfo.jsp</url-pattern>
    <url-pattern>/userInfo.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>userSetPermission</display-name>
    <servlet-name>userSetPermission</servlet-name>
    <servlet-class>Servlets.userSetPermission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userSetPermission</servlet-name>
    <url-pattern>/userSetPermission</url-pattern>
  </servlet-mapping>
</web-app>